body {
	background:#ffffff;
	
	font: 12px/1.2 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	color:#4d4d4d;
	margin:0px;
}
img {
	border:0px;
}
label {
	float:left;
	width:100px;
}

a {
	text-decoration:none;
}
#property_forms {
	
}
#property_forms:input {
	float:left;
}
#property_info {
	float:left;
}
h1 {
	margin: 5px 0px 0px 0px;
	color:#f15c22;
	font-size: 1.5em;
	
}
.login {
	height:0px;
	background:#fdbc5f;
	width:960px;
	margin: 0 auto;
}
.mainwrap {
	background:#ffffff;
	width:940px;
	margin: 0 auto;
	border: 0px solid #dddddd;
	padding:10px 10px 0 ;
	position: relative;
	display:block;
}

.header {
	height: 90px;
	background:transparent;
	
}
.logo {
	height: 70px;
	width:340px;
	background:url('images/logo2.png') no-repeat;
	float:left;
	
}
.tagline {
	float:left;
	padding: 20px 0 0 255px;
	font-size: 1.25em;
	font-weight: bolder;
	text-align: right;
}
.tagline strong {
	color: #f15c22;
	font-size: 1.4em;
}
.adminlogo {
	height: 70px;
	width:340px;
	background:url('images/adminlogo.png') no-repeat;
	
}
.topmenu {
	height: 25px;
	background:none;
	border-bottom:1px solid #000000;
	
}

.main_content {
	margin-top:10px;
	margin-bottom:10px;
}
.left_content {
	
	min-height:200px;
	
	float:left;
}
.left_button {
	padding:5px;
	margin: 5px 0;
	border: solid 1px #fcb034;
	color: #f15c22;
	font-weight:bold;
	text-decoration:none;
}
.left_button a {
	color:#f15c22;
	
	text-decoration:none;
}
.left_button:hover {
	color:#000000;
	text-decoration:none;
	background: #fcdfa3;
}
.full_content {
	width:100%;
	min-height:200px;

	float:left;
}
.left_admin {
	width:330px;
	
	background: #eaeaea;
	float:left;
}
.right_content {
	width:600px;
	float:left;
	
	margin: 0 0 0 10px;
	border:0px solid #000000;
}
.right_content_narrow {
	width:500px;
	float:left;
	
	margin: 0 0 0 10px;
	border:0px solid #000000;
}
.footer {
	height: 15px;
	background: #f15c22;
	width:920px;
	margin: 10px auto;
	color:#ffffff;
	padding: 20px 10px;
}
.footer a {
	color:#ffe0ae;
	text-decoration:none;
}
#slideshow {
	width:600px;
	height:300px;
	
	margin: 0 0 0px 0;
}
#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    text-align: center;
     position: relative;
     display: block;
}
#toppanel {
    position: relative;
    top: 0px;
    width: 960px;
    z-index: 25;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#panel {
    width: 960px;
    position: relative;
 
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    overflow: hidden;
    text-align: left;
}
#panel_contents {
    background:#fcb034;
    height: 100%;
    width: 904px;
    position: absolute;
    z-index: -1;
    color:#ffffff;
    padding:5px 30px;
}

.form {
	padding:0px;
}

.edit_nationality, .edit_language, .editcompany, .editclient, .editcompanytype{
	width:150px;
	padding:2px;
	margin:2px;
	background:#ffffff;
	float:left;
	display: inline;
}
.leftcolumn {
	background:#fcdfa3;
	padding:2px;
	width:100px;
	float:left;
}
#property_box {
	padding:10px 10px;
	margin-top:10px;
	min-height: 50px;
	width: 310px;
	background-color:#cccccc;
}
#property_box_text {
	height: 20px;
	width:290px;
	padding:5px 10px;
	background:url('images/trans.png') repeat;
	position:relative;
	margin-bottom: -30px;
	color: #ffffff;
	bottom:30px;
}
#search_box {
	padding:10px 10px 0;
	height: 290px;
	width: 310px;
	background-color:#fcb034;
}
#search_box input {
	
	margin-top:10px;
}
#search_holder {
	padding:1px 10px 10px 10px;
	margin-bottom:5px;
	background-color:#fcb034;
	border:solid 1px #fc8034;
}
fieldset { border:1px solid #fc8034; }

#search_title {
	margin: 0px;
	color:#000000;
	font-size: 1.25em;
	font-weight:bold;
}

#search_heading {
	background: #fcdfa3;
	margin: 0 0 3px;
	padding:3px;
}

#search_list {
	border: 1px solid #bfbfbf;
	margin-bottom: 3px;
	padding: 5px 0 5px 5px;
	
}

#search_thumb {
	float: left;
}
#search_content {
	width: 450px;
	
	margin-right: 5px;
	float: left;
}
#property_features {
	border-bottom:solid 1px #bbbbbb;
	clear:both;
	height: 15px;
	padding: 4px 0;
}
#property_features_L {
	float:left;
	width: 45%;
}
#property_features_R {
	float:left;
	width: 45%;
}

.admin_left {
	width:50%;
	border:solid 0px #000000;
	float:left;
	min-height: 100px;
	margin: 5px 0 0 0;
}

.admin_right {
	width:49%;
	border:solid 0px #000000;
	float:left;
	min-height: 100px;
	margin: 5px 0 0 0;
}
.admin_title {
	width:150px;
	background:#fcdfa3;
	padding: 2px;
	border:solid 1px #fdbc5f;
	font-weight: bold;
	margin: 0 0 0px 0;
	float:left;
	
}
.admin_field {
	float:left;
	width:50%;
	padding:0px 0 0 3px;
	margin: 0px 0px 0px 3px;
	
	border:solid 1px #dddddd;
	min-height: 20px;
	
}
#featured_list {
	background:#dddddd;
	margin-bottom:3px;
	height:18px;
}
.ui-widget {
font: 12px/1.2 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}
